#header {
    height: 200px;
    width: 90%;
    margin: auto;
    background: lightslategray;
}
#header div {
    margin-bottom: 0px;
}
#left {
    background: aqua;
    height: 1000px;
    width: 30%;
    margin-left: 40px;
    float: left;
    font-weight: bold;
    font-size: 15px;
}
#content {
    background: aqua;
    height: 1000px;
    width: 65%;
    float: left;
    margin-left: 10px;
}
#content p {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    font-size: 15px;

}
